@charset "utf-8";
/* CSS Document */

* { -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }


.skull:before { content:"\2620"; display:block; }



/*---------GRID--------*/
.row:before, .row:after { content:" "; display:table; }
.row:after { clear:both; }

[class*="small-"], [class*="medium-"], [class*="large-"] { padding: 10px; }

.small-1 { width:8.33333%;float:left; }
.small-2 { width:16.666666%;float:left; }
.small-3 { width:25%;float:left; }
.small-4 { width:33.333333%;float:left; }
.small-5 { width:41.666666%;float:left; }
.small-6 { width:50%;float:left; }
.small-7 { width:58.333333%;float:left; }
.small-8 { width:66.666666%;float:left; }
.small-9 { width:75%;float:left; }
.small-10 { width:83.333333%;float:left; }
.small-11 { width:91.666666%;float:left; }
.small-12 { width:100%;float:none; }

@media screen and (min-width:550px) {
	.medium-1 { width:8.33333%;float:left; }
	.medium-2 { width:16.666666%;float:left; }
	.medium-3 { width:25%;float:left; }
	.medium-4 { width:33.333333%;float:left; }
	.medium-5 { width:41.666666%;float:left; }
	.medium-6 { width:50%;float:left; }
	.medium-7 { width:58.333333%;float:left; }
	.medium-8 { width:66.666666%;float:left; }
	.medium-9 { width:75%;float:left; }
	.medium-10 { width:83.333333%;float:left; }
	.medium-11 { width:91.666666%;float:left; }
	.medium-12 { width:100%;float:none; }
}

@media screen and (min-width:750px) {
	.large-1 { width:8.33333%;float:left; }
	.large-2 { width:16.666666%;float:left; }
	.large-3 { width:25%;float:left; }
	.large-4 { width:33.333333%;float:left; }
	.large-5 { width:41.666666%;float:left; }
	.large-6 { width:50%;float:left; }
	.large-7 { width:58.333333%;float:left; }
	.large-8 { width:66.666666%;float:left; }
	.large-9 { width:75%;float:left; }
	.large-10 { width:83.333333%;float:left; }
	.large-11 { width:91.666666%;float:left; }
	.large-12 { width:100%;float:none; }
}